
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["FullName"]</p>
</div>

<div class="text-center">
    <a href="/User/EditProfile">Edit Profile</a>
</div>